---
import { getTranslations, type Lang } from "./../utils/getTranslations";
import SEO from "./SEO.astro";
import LanguagePicker from "./LanguagePicker.astro"
import { Image } from "astro:assets";
import profilePicture from '@assets/profile_picture.jpeg' 

const lang = Astro.props.lang as Lang;
const t = getTranslations(lang);
---

<!doctype html>
<html lang="en">
	<SEO lang={lang} />
	<body class="bg-slate-900 container mx-auto md:px-64 md:my-14 justify-center">
		<main class="bg-slate-800 p-4 md:p-12 md:rounded-sm">
			<header class="flex justify-between items-start mb-4">
				<div class="flex items-start gap-4">
					<Image src={profilePicture} alt="Bastien Guillon" class="w-32 h-32 rounded-full object-cover" />
					<div>
						<h1>{t.title}</h1>
						<p>{t.subtitle}</p>
					</div>
				</div>
				<nav aria-label={t.languageSelectionLabel} class="self-start">
					<LanguagePicker currentLang={lang} />
				</nav>
			</header>

			<section class="mb-4">
				<p>{t.introduction}</p>
			</section>

			<!-- Work experience -->
			<section aria-labelledby="experience">
				<h2 id="experience">{t.workExperience.title}</h2>
				<!-- Lucca  -->
				<article>
					<h3>{t.workExperience.lucca.location}</h3>
					<h4>{t.workExperience.lucca.jobtitle} - {t.workExperience.lucca.time}</h4>
					<p set:html={t.workExperience.lucca.description} />
				</article>
				<!-- CEA -->
				<article>
					<h3>{t.workExperience.cea.location}</h3>
					<h4>{t.workExperience.cea.jobtitle} - {t.workExperience.cea.time}</h4>
					<p set:html={t.workExperience.cea.description} />
				</article>
			</section>

			<!-- Education -->
			<section aria-labelledby="education">
				<h2 id="education">{t.education.title}</h2>
				{t.education.items.map(item => (
					<h3>{item.schoolName}</h3>
					<h4>{item.description}</h4>
				))}
			</section>

			<!-- Languages -->
			<section aria-labelledby="languages">
				<h2 id="languages">{t.languages.title}</h2>
				<table class="w-auto border-collapse text-left">
					<thead>
					<tr class="text-slate-50 text-lg">
						{t.languages.items.map(item => (
						<th class="pr-6">{item.title}</th>
						))}
					</tr>
					</thead>
					<tbody>
					<tr class="text-slate-300">
						{t.languages.items.map(item => (
						<td class="pr-6">{item.description}</td>
						))}
					</tr>
					</tbody>
				</table>
			</section>

			<!-- Certifications -->
			<section aria-labelledby="certifications">
				<h2 id="certifications">{t.certifications.title}</h2>
				<ul class="list-disc list-inside">
					<li>{t.certifications.sst}</li>
				</ul>
			</section>

			<!-- Contact -->
			<section aria-labelledby="contact">
				<h2 id="contact">{t.contact.title}</h2>
				<ul class="list-disc list-inside">
					<li>
						<strong>{t.contact.mail.title}</strong>
						<a id="email" class="hover:underline"></a>
					</li>
					<li>
						<strong>{t.contact.github.title}</strong>
						<a
							href={t.contact.github.url}
							target="_blank"
							rel="noopener noreferrer"
							class="hover:underline"
						>
							{t.contact.github.linkText}
						</a>
					</li>
					<li>
						<strong>{t.contact.linkedin.title}</strong>
						<a 
							href={t.contact.linkedin.url}
							target="_blank"
							rel="noopener noreferrer"
							class="hover:underline"
						>
							{t.contact.linkedin.linkText}
						</a
						>
					</li>
				</ul>
			</section>
		</main>

		<script>
			// Email obfuscation to avoid spam bots
			document.addEventListener("DOMContentLoaded", () => {
				const user = "bastien.guillon42";
				const domain = "gmail.com";
				const emailElement = document.getElementById("email")!;
				emailElement.textContent = `${user}@${domain}`;
				emailElement.setAttribute("href", `mailto:${user}@${domain}`);
			});
		</script>
	</body>
</html>
