---
import { getTranslations, type Lang } from "@utils/getTranslations";

const lang = (Astro.props.lang ?? "fr") as Lang;
const t = getTranslations(lang);
---

<head>
    <meta charset="UTF-8" />
    <title>{t.page.title}</title>
    <meta name="description" content={t.page.description} />
    <meta property="og:title" content={t.page.title} />
    <meta property="og:description" content={t.page.description} />
    <!-- <meta property='og:image' content={t.ogImage} /> -->
    <link rel="alternate" hreflang="en" href="/en/" />
    <link rel="alternate" hreflang="fr" href="/fr/" />

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link
        rel="icon"
        type="image/png"
        sizes="512x512"
        href="/android-chrome-512x512.png"
    />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />
</head>
